body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dfe6e9;
    align-items: center;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#page-title {
    margin: 30px;
}


.delete-btn, .state-btn {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 10%;
    padding: 10px 15px;
    margin: 5px;
}

.delete-btn {
    background-color: brown;
}

.main-table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(108, 108, 108);
}

#book-pages {
    width: 10%;
}

#status {
    width: 10%;
}

#options {
    width: 15%;
}

.state-btn {
    background-color:steelblue;
    margin-right: 10px;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
}

h2 {
    margin: 5px;
}


label {
    display: inline;
}

.modal-btn {
    padding: 10px 30px;
    background-color: #3ab02b;
    color: rgb(0, 0, 0);
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
    border-radius: 10%;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 18px;
    font-weight: bold;
    cursor: pointer;
}

.radio-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

td {
    font-size: 15px;
    font-weight: 500;
}