body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7c97a3;
    align-items: center;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#title {
    margin: 30px;
}


.delete-btn, .state-btn {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #2980b9;
    color: white;
    border: none;
    font-weight: 500;
}

.delete-btn {
    background-color: brown;
}

.main-table {
    width: 100%;
}

tbody {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#book-pages {
    width: 10%;
}

#status {
    width: 10%;
}

#options {
    width: 15%;
}

.state-btn {
    margin-right: 10px;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-btn {
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}